.section-2 {
    /* padding: 0rem 10vw 0rem 10vw; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: top; */
    padding: 3rem 0rem 30vh 0rem;
    background: rgba(0, 0, 0, 0);
    height: fit-content;
    /* box-shadow: 0px 0px 20px rgba(0,0,0,0.5); */
}

.abt-cont {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
    gap: 2rem;
    padding: 0rem 12vw 0rem 12vw;
    align-items: top;
}

.abt-img {
    width: 50%;
    max-width: none;
    border: solid;
    border-radius: 1rem;
    animation: slide-frl ease-in-out 1s;
    display: none;
}

@keyframes slide-frl {
    0% {
        opacity: 0%;
        transform: translate(-100%, 0);
    }

    80% {
        transform: translate(1%, 0);
    }

    100% {
        opacity: 100%;
        transform: translate(0, 0);
    }
}

.abt-title {
    padding: 0rem 0rem !important;
    height: 5rem;
}

.abt-text {
    font-size: 0.9rem;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.abt-text>span {
    opacity: 0%;
    animation: about-fade-in ease-in-out 1s;
    animation-fill-mode: forwards;
} 

@keyframes about-fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.abt-text>.accordian-cont {
    opacity: 0%;
    animation: abt-slide-in ease-in-out 1s 0.3s;
    animation-fill-mode: forwards;
}

.abt-header {
    font-weight: 700;
}

@keyframes abt-slide-in {
    0% {
        opacity: 0%;
        transform: translate(0%, 400%);
    }
    85% {
        transform: translate(0, -5%);
    }
    100% {
        opacity: 100%;
        transform: translate(0, 0);
    }
}

@media screen and (min-width: 690px) {
    .section-2 {
        padding: 3rem 0rem 30vh 0rem;
    }

    .abt-cont {
        grid-template-rows: 1fr auto;
        gap: 2rem;
        padding: 0rem 12vw 0rem 12vw;
        align-items: top;
    }

    .abt-img {
        width: 50%;
        max-width: 200px;
        animation: slide-frl ease-in-out 1s;
    }

    .abt-title {
        padding: 0rem 0rem !important;
        height: 5rem;
    }

    .abt-text {
        font-size: 1.2rem;
        font-weight: 500;
    }
}

@media screen and (min-width: 1200px) {
    .section-2 {
        padding: 5vh 0rem 0vh 0rem;
        background: rgba(0, 0, 0, 0);
        height: 100vh;
    }

    .abt-cont {
        grid-template-columns: 1fr;
        grid-template-rows: none;
        gap: 2rem;
        padding: 0rem 20vw 10rem 20vw;
        align-items: top;
    }

    .abt-img {
        max-width: 300px;
        width: 100%;
        border: solid;
        border-radius: 1rem;
        justify-self: center;
    }

    .abt-title {
        padding: 0rem 0rem !important;
        height: 5rem;
    }

    .abt-text {
        font-size: 1.2rem;
        font-weight: 400;
    }
}