.accordian-cont {
    height: fit-content;
    border-top: 2px solid rgba(0,0,0,1);
    border-bottom: 2px solid rgba(0,0,0,1);
    padding: 0.5rem 0rem;
    margin: -2px 0px;
    max-height: 1000px;
    transition: max-height 0.5s ease;
}

.accordian-title {
    font-family: "DM Mono", monospace !important;
    font-style: normal;
    border: none;
    background: rgba(0,0,0,0);
    font-weight: 500;
    font-size: 1.2rem;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
    color: inherit;
    /* text-decoration: underline; */
}

.accordian-content {
    height: 0px;
    opacity: 0%;
    font-size: 1rem;
    transform: translate(10%,0%);
    overflow: hidden;
}

/* .accordian-content>.acc-text {
    white-space: 'pre-line';
} */


.expand {
    height: fit-content;
    opacity: 100%;
    transform: translate(0%,0%);
    transition: 0.3s ease 0s;
}


@media screen and (min-width: 700px) {
    .accordian-cont {
        height: fit-content;
        border-top: 2px solid rgba(0,0,0,1);
        /* border-bottom: 2px solid rgba(0,0,0,1); */
        padding: 0.5rem 0rem;
    }
    
    .accordian-title {
        border: none;
        background: rgba(0,0,0,0);
        font-weight: 500;
        font-size: 1.2rem;
    }
    
    .accordian-content {
        height: 0px;
        opacity: 0%;
        font-size: 1rem;
        overflow: hidden;
    }
    
    /* .accordian-content>.acc-text {
        white-space: 'pre-line';
    } */
    
    
    .expand {
        height: fit-content;
        opacity: 100%;
        transition: 0.3s ease 0.1s;
    }
}