.section-3 {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding-top: 4rem;
    height: 100vh;
    overflow: hidden;
}

.expBlock-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 0.5rem;
    padding: 0rem 5vw 0rem 5vw !important;
    height: calc(90vh - 8rem);
    overflow-y: auto;
    animation: fade-in ease 1s;
}


.expBlock {
    position: relative;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    /* padding: 1rem; */
    border-radius: 0.8rem;
    overflow: hidden;
    border: 0px solid rgb(0, 0, 0);
    height: 100%;
    /* aspect-ratio: 1.5/1; */
    background: rgb(255, 255, 255, 0.5);
    color: black;
    cursor: pointer;
    transition: 0.3s ease;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.expBlock:hover {
    background: rgb(70, 141, 136);
    box-shadow: 0px 0px 20px rgb(70, 141, 136);
    color: white;
}

.expBlock.dm {
    background: rgba(0,0,0, 0.2);
    color: inherit;
    border: 0px solid rgba(10,10,10, 0.2);
}

.expBlock.dm:hover {
    background: rgba(20, 20, 20, 0.3);
    box-shadow: 0px 0px 15px rgb(80, 80, 80);
    color: rgb(200, 200,200);
}


.imgCont {
    /* border: 2px solid rgb(0,0,0);
    border-radius: 1rem; */
    background-color: white;
    /* width: 100%;
    height: 100%; */
    overflow: hidden;
}



.textCont {
    padding: 1.5vw;
    font-size: 4vw;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    text-align: left;
}

.button-container {
    display: flex !important;
    /* Use flexbox to arrange buttons horizontally */
    align-items: center;
    /* Center the buttons vertically if they are in a container with height */
    margin: 0rem 5vw 0.5rem 4vw !important;
    padding: 0.2rem !important;
    overflow: auto;
    width: auto !important;
    height: fit-content;
    max-width: 90vw !important;
    flex-shrink: 1 !important;
    background: rgba(0, 0, 0, 0);
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    animation: slide-frr ease 1s;

}

@keyframes slide-frr {
    0% {
        opacity: 50%;
        transform: translate(50%, 0);
    }

    80% {
        transform: translate(-1%, 0);
    }

    100% {
        opacity: 100%;
        transform: translate(0, 0);
    }
}

.button-container::-webkit-scrollbar {
    display: none;
}

.ftr-btn {
    margin: 0rem 0.2rem 0.2rem 0.2rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2rem;
    width: fit-content;
    transition: 0.3s ease;
    cursor: pointer;
    white-space: nowrap;
    color: rgb(0, 0, 0);
    background: rgb(225, 225, 225, 0);
}

.ftr-btn.dm {
    color: rgb(180, 180, 180);
    border: 1px solid rgb(180, 180, 180);

}

/* .ftr-btn:hover {
    background-color: rgb(220, 220, 220);
    color: rgb(0, 0, 0);
} */

.selected {
    transition: 0s;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
}

.ftr-btn.dm.selected {
    background-color: rgb(180, 180, 180);
    color: rgb(0,0,0);
}

.expDescrip-bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    z-index: 3;
}

.expDescrip-bg.dm {
    background: rgba(50, 50, 50, 0.8);
}

.expDescrip-cont {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    position: absolute;
    /* top: 10vh;
    left: 5vw; */
    /* height: 80vh; */
    width: 90vw;
    padding: 2rem 2rem 4rem 2rem;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr auto;
    gap: 2rem;
    /* border: 2px solid rgb(0, 0, 0); */
    box-shadow: 0px 0px 10px rgb(50, 50, 50);
    border-radius: 1rem;
    background: rgba(250, 250, 250, 1);
    /* aspect-ratio: 18/9; */
    max-height: 85vh;
    overflow: hidden;
    animation-fill-mode: forwards;
    z-index: 11;
}

.expDescrip-cont.dm {
    filter: brightness(0.9);
    background: rgba(30, 30, 30, 0.9); 
    box-shadow: 0px 0px 10px rgb(10, 10, 10);
}

@keyframes slide-in {
    0% {
        top: 0vh;
    }

    100% {
        top: 9vh;
        /* transform: translate(5vw, 10vh); */
    }
}

.closeExpDescrip-btn {
    display: block;
    position: absolute;
    bottom: 1.1rem;
    right: 10%;
    transform: translateX(50%);
    width: 10vw;
    height: 1rem;
    border-radius: 3rem;
    border: none;
    background: rgba(255, 91, 91, 0.2);
}

.closeExpDescrip-mobile {
    color: rgb(150, 150, 150);
    font-size: 0.8rem;
    position: absolute;
    bottom: 1rem;
    right: 50%;
    transform: translateX(50%);
}

.expD-img-cont {
    border: 2px solid rgb(150, 150, 150);
    border-radius: 0.6rem;
    background: rgb(180, 246, 255);
    overflow: hidden;
    aspect-ratio: 16/10;
}

.expD-img {
    /* border: 2px solid rgb(0,0,0);
    border-radius: 1rem; */
    object-fit: cover;
    width: 100%;
    /* height: 100%; */
}


.expD-title {
    font-size: 1.4rem !important;
    font-weight: 700;
}

.expD-a {
    color: rgb(40, 40, 40);
    font-weight: 500;
    font-size: 1rem;
}

.expD-a.dm {
    color: rgb(200, 200, 200);
}

.expD-b {
    color: rgb(150, 150, 150);
    font-weight: 400;
    font-size: 0.8rem;
}

.expD-b.dm {
    color: rgb(120, 120, 120);
}





@media screen and (min-width: 690px) {
    .section-3 {
        gap: 0rem;
        padding-top: 12vh;
        max-height: 100vh;
        overflow-y: auto;
    }

    .expBlock-cont {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        padding: 0rem 10vw 0rem 10vw !important;
        height: fit-content;
        max-height: 70vh;
        overflow-y: auto;
    }


    .expBlock {
        grid-template-rows: 0.5fr 1fr;
        border-radius: 1rem;
        height: 100%;
        /* aspect-ratio: 2/1; */
        transition: 0.3s ease;
    }


    .imgCont {
        background-color: white;
    }

    .textCont {
        padding: 1.5vw;
        font-size: 1rem;
        font-weight: 600;
    }

    .button-container {
        margin: 0rem 10vw 0rem 9.5vw !important;
        padding: 0.2rem !important;
        overflow: auto;
        width: auto !important;
        height: fit-content;
        max-width: 80vw !important;
        /* animation: slide-frr ease 1s; */
    }

    .ftr-btn {
        margin: 0rem 0.5rem 0.2rem 0.5rem;
        padding: 0rem 1rem 0rem 1rem;
        border-radius: 2rem;
        width: fit-content;
        transition: 0.3s ease;
    }

    .selected {
        transition: 0s;
    }

    .expDescrip-bg {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }

    .expDescrip-cont {
        position: absolute;
        top: 10vh !important;
        left: 50% !important;
        transform: translateX(-50%);
        height: fit-content;
        max-height: 500px;
        width: 90vw;
        max-width: 70rem;
        padding: 2rem 2rem 2rem 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
        gap: 3rem;
        /* border: 2px solid rgb(0, 0, 0); */
        border-radius: 1rem;
        /* background: rgba(250,250, 250,1); */
        /* aspect-ratio: 16/8; */
        align-items: center;
    }

    .closeExpDescrip-btn {
        display: block;
        position: absolute;
        top: 1rem;
        right: 2rem;
        width: 1.5rem;
        height: 1rem;
        border-radius: 3rem;
        border: none;
        background: rgb(255, 91, 91);
    }

    .expD-img-cont {
        border-radius: 1rem;
    }

    .expD-title {
        font-size: 1.2rem !important;
        font-weight: 600;
    }

    .expD-a {
        font-weight: 500;
        font-size: 1rem;
    }

    .expD-b {
        font-weight: 400;
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 1200px) {
    .section-3 {
        gap: 0rem;
        padding-top: 12vh;
    }

    .expBlock-cont {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        padding: 1rem 20vw 0.5rem 20vw !important;
        height: fit-content;
        max-height: 70vh;
        overflow-y: auto;
    }


    .expBlock {
        display: grid;
        grid-template-rows: 0.5fr 1fr;
        /* padding: 1rem; */
        border-radius: 1rem;
        overflow: hidden;
        /* border: 2px solid rgb(0,0,0); */
        height: 100%;
        /* aspect-ratio: 2/1; */
        transition: 0.3s ease;
    }


    .imgCont {
        /* border: 2px solid rgb(0,0,0);
        border-radius: 1rem; */
        background-color: white;
    }

    .textCont {
        padding: 1.5vw;
        font-size: 1.3rem;
        font-weight: 600;
    }

    .button-container {
        display: flex !important;
        /* Use flexbox to arrange buttons horizontally */
        align-items: center;
        /* Center the buttons vertically if they are in a container with height */
        margin: 0rem 20vw 0rem 19.5vw !important;
        padding: 0.2rem !important;
        overflow: auto;
        width: auto !important;
        height: fit-content;
        max-width: 70vw !important;
        flex-shrink: 1 !important;
    }

    .ftr-btn {
        margin: 0rem 0.5rem 0.2rem 0.5rem;
        padding: 0rem 1rem 0rem 1rem;
        border-radius: 2rem;
        width: fit-content;
        transition: 0.3s ease;
        white-space: nowrap;
    }

    .expDescrip-bg {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }

    .expDescrip-cont {
        position: absolute;
        top: 16vh !important;
        left: 50% !important;
        transform: translateX(-50%);
        height: 60vh;
        /* max-height: 60vh; */
        width: 70vw;
        max-width: 70rem;
        padding: 4rem 4rem 4rem 4rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
        gap: 3rem;
        /* border: 2px solid rgb(0, 0, 0); */
        border-radius: 1rem;
        /* background: rgba(250,250, 250,1); */
        /* aspect-ratio: 16/9; */
        align-items: center;
    }

    .closeExpDescrip-btn {
        display: block;
        position: absolute;
        top: 1rem;
        right: 2rem;
        width: 1.5rem;
        height: 1rem;
        border-radius: 3rem;
        background: rgb(255, 91, 91);
    }

    .expD-img-cont {
        border-radius: 1rem;
    }

    .expD-title {
        font-size: 1.8rem !important;
        font-weight: 600;
    }

    .expD-a {
        font-weight: 500;
        font-size: 1.2rem;
    }

    .expD-b {
        font-weight: 400;
        font-size: 1rem;
    }
}