.section-1 {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    color: rgb(0, 0, 0);
    justify-content: center;
}

.section-1.dm {
    color: rgb(200, 200, 200);
}

.land-name {
    padding: 0 0% 0 0% !important;
    display: flex;
    position: relative;
    justify-content: center;
}

.landing-text {
    display: flex;
    padding-top: 15vh;
    overflow: hidden;
    /* grid-row: 1;
    grid-column: 1 / span 8; */
    justify-content: center;
    z-index: 2;
    animation: name-in 1.2s ease-out;
    animation-delay: 0s;
    animation-fill-mode: both;
}




@keyframes name-in {
    0% {
        transform: translate(-100%, 0%);
        opacity: 0%;
    }

    75% {
        transform: translate(1%, 0%);
    }

    100% {
        transform: translate(0%, 0%);
        opacity: 100%;
    }
}

.short-cuts {
    padding: 5vh 15vw 1rem 15vw;
    width: 100%;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    opacity: 0%;
    overflow: visible;
    animation: slide-lr 0.5s ease-in;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}

.short-cuts-cont {
    display: flex;
    justify-content: center;
}

.short-cuts.dm {
    filter: brightness(0.9);
}

@keyframes slide-lr {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.shortcut-btn {
    font-size: 1rem;
    border-radius: 0.6rem;
    border: 0px solid rgba(0, 0, 0, 1);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    min-width: 5rem;
}

.shortcut-btn:focus {
    outline: none;
}

.gh-btn {
    color: whitesmoke;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    text-align: center;
    align-items: center;
    background-color: #6e5494;
    transition: 0.3s ease;
}

.gh-btn:hover {
    box-shadow: 0px 0px 20px rgb(110, 84, 148, 0.6);
}

.gh-logo {
    width: 1rem;
}

.abt-btn {
    color: whitesmoke;
    background-color: rgb(70, 141, 136);
    transition: 0.3s ease;
}

.abt-btn:hover {
    box-shadow: 0px 0px 20px rgb(70, 141, 136, 0.6);
}

.contact-btn {
    color: whitesmoke;
    background-color: rgb(78, 172, 196);
    transition: 0.3s ease;
}

.contact-btn:hover {
    box-shadow: 0px 0px 20px rgb(78, 172, 196, 0.6);
}


.text-small {
    font-size: 32px;
    padding-left: calc(15vw - 1.5rem);
}

.Name {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(30, 94, 90);
    font-size: 20vw;
    background: rgba(245, 245, 245, 0.8);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1rem;
    padding: 0rem 1rem 0rem 1rem;
    margin: 0rem 1rem 0rem 1rem;
    /* margin-left: calc(15vw - 2rem); */
    box-shadow: none;
}

.Name.dm {
    filter: brightness(0.9);
    color: rgb(30, 94, 90);
    background: rgba(250, 250, 250, 0.8);
    box-shadow: 0px 0px 15px rgb(200, 200, 200);
}


.landing-cont {
    /* visibility: hidden; */
    padding-top: 10vh;
    margin-left: -20vw;
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    z-index: 1;
}


.landing-image {
    margin-top: -25vh;
    margin-left: 10vw;
    scale: 80%;
    object-fit: contain;
    overflow: hidden;
    max-width: 100vw;
    grid-row: 1;
    grid-column: 1 / span 8;
    z-index: 5;
    opacity: 0;
    will-change: transform, opacity;
    /* animation: fly-in 5s ease-out 3s, fly-lr 15s linear 8s infinite; */
    animation: none;
}

.landing-image.dm {
    filter: brightness(0.6) hue-rotate(-20deg);
}

@keyframes fly-in {
    0% {
        opacity: 100%;
        transform: translate(100%, 55%);
        scale: 50%;
    }

    50% {
        opacity: 100%;
        transform: translate(-20%, -20%);
        scale: 50%;
    }

    100% {
        opacity: 100%;
        transform: translate(0%, 0%);
        scale: 50%;
    }
}

@keyframes fly-lr {
    0% {
        opacity: 100%;
        transform: translate(0%, 0%);
        scale: 50%;
    }

    20% {
        opacity: 100%;
        transform: translate(20%, -10%);
        scale: 45%;
    }

    70% {
        opacity: 100%;
        transform: translate(15%, -70%);
        scale: 40%;
    }

    100% {
        opacity: 100%;
        transform: translate(0%, 0%);
        scale: 50%;
    }
}

.concat-cloud-r {
    display: none;
    --d: 15s;
    width: 1000px;
    top: 25%;
    left: 30%;
    z-index: 1;
    position: relative;
}

.concat-cloud-r.dm {
    /* filter: brightness(0.3) hue-rotate(120deg) saturate(2); */
    filter: brightness(0.3);

}




.concat-cloud-r>.cloud-bg-r:nth-child(2) {
    animation-delay: calc(1*var(--d)/4)
}

.concat-cloud-r>.cloud-bg-r:nth-child(3) {
    animation-delay: calc(2*var(--d)/4)
}

.concat-cloud-r>.cloud-bg-r:nth-child(4) {
    animation-delay: calc(3*var(--d)/4)
}


.cloud-bg-r {
    will-change: transform;
    /* animation: slide-r var(--d) linear infinite; */
    animation: none;
    grid-area: 1/1;
    width: 100vw;
    z-index: 1;
    opacity: 0%;
}

@keyframes slide-r {
    0% {
        opacity: 100%;
        transform: rotate(40deg) translate(-150%);
    }

    100% {
        opacity: 100%;
        transform: rotate(40deg) translate(150%);
    }
}


.concat-cloud-l {
    --d: 13s;
    display: grid;
    width: 1000px;
    top: 25%;
    left: 25%;
    position: relative;
}

@keyframes slide-l {
    0% {
        opacity: 100%;
        transform: rotate(40deg) translate(-200%);
    }

    100% {
        opacity: 100%;
        transform: rotate(40deg) translate(200%);
    }
}

.cloud-bg-l {
    will-change: transform;
    grid-area: 1/1;
    width: 100vw;
    z-index: 1;
    opacity: 0%;
}



@media screen and (min-width: 700px) {
    .land-name {
        padding: 0 0% 0 0% !important;
        position: relative;
        /* grid-template-columns: repeat(2, 1fr); */
    }

    .landing-text {
        padding-top: 20vh;
        overflow: hidden;
        /* grid-row: 1;
        grid-column: 1 / span 8; */
        justify-content: center;
        z-index: 2;
        animation: name-in 1.2s ease-out;
        animation-delay: 0s;
        animation-fill-mode: both;
    }


    .short-cuts {
        padding: 1rem 1rem 1rem 1rem;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: none;
        gap: 1rem;
        opacity: 0%;
        overflow: visible;
        animation: slide-lr 0.5s ease-in;
        animation-delay: 1.2s;
        animation-fill-mode: forwards;
    }


    .shortcut-btn {
        font-size: 1.7vw;
        border-radius: 0.6rem;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        cursor: pointer;
        min-width: 5rem;
    }

    .shortcut-btn:focus {
        outline: none;
    }

    .gh-btn {
        gap: 1rem;
        transition: 0.3s ease;

    }

    .gh-logo {
        width: 1rem;
    }

    .abt-btn {
        transition: 0.3s ease;
    }

    .contact-btn {
        transition: 0.3s ease;
    }

    .text-small {
        font-size: 32px;
        padding-left: 1rem;
    }

    .Name {
        font-weight: 400;
        font-size: 8rem;
        border-radius: 1rem;
        padding: 0rem 1rem 0rem 1rem;
        /* margin-left: 1rem; */
    }

    .landing-cont {
        /* visibility: hidden; */
        padding-top: 10vh;
        margin-left: -20vw;
        display: grid;
        position: relative;
        grid-template-columns: repeat(12, 1fr);
    }


    .landing-image {
        margin-top: -25vh;
        margin-left: 10vw;
        scale: 80%;
        object-fit: contain;
        overflow: hidden;
        max-width: 100vw;
        grid-row: 1;
        grid-column: 1 / span 8;
        z-index: 1;
        opacity: 0;
        will-change: transform, opacity;
        /* animation: fly-in 5s ease-out 3s, fly-lr 15s linear 8s infinite; */
        animation: none;
    }

    .concat-cloud-r {
        display: none;
        --d: 15s;
        width: 1000px;
        top: 25%;
        left: 30%;
        position: relative;
    }

    .cloud-bg-r {
        will-change: transform;
        /* animation: slide-r var(--d) linear infinite; */
        animation: none;
        grid-area: 1/1;
        width: 100vw;
        z-index: 1;
        opacity: 0%;
    }

    .concat-cloud-l {
        --d: 13s;
        display: grid;
        width: 1000px;
        top: 25%;
        left: 25%;
        position: relative;
    }

    .cloud-bg-l {
        will-change: transform;
        grid-area: 1/1;
        width: 100vw;
        z-index: 1;
        opacity: 0%;
    }

    .land-bg {
        background-attachment: fixed;
    }
}

@media screen and (min-width: 1200px) {
    .land-name {
        padding: 0 0% 0 0% !important;
        display: grid;
        position: relative;
        /* grid-template-columns: repeat(2, 1fr); */
    }

    .landing-text {
        padding-top: 20vh;
        overflow: hidden;
        /* grid-row: 1;
        grid-column: 1 / span 8; */
        justify-content: center;
        z-index: 2;
        animation: name-in 1.2s ease-out;
        animation-delay: 0s;
        animation-fill-mode: both;
    }

    .short-cuts {
        padding: 1rem 1rem 1rem 1rem;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: none;
        gap: 1rem;
        opacity: 0%;
        overflow: visible;
        animation: slide-lr 0.5s ease-in;
        animation-delay: 1.2s;
        animation-fill-mode: forwards;
    }

    .shortcut-btn {
        font-size: 1rem;
        border-radius: 0.6rem;
        padding: 0.5rem;
        min-width: 10rem;
    }

    .gh-btn {
        gap: 1rem;
        text-align: center;
        align-items: center;
        background-color: #6e5494;
        transition: 0.3s ease;
    }

    .gh-logo {
        width: 1rem;
    }

    .abt-btn {
        transition: 0.3s ease;
    }

    .contact-btn {
        transition: 0.3s ease;
    }

    .text-small {
        font-size: 32px;
        padding-left: 1rem;
    }

    .Name {
        font-weight: 500;
        font-size: 15rem;
        border-radius: 2rem;
        padding: 0rem 1.5rem 0rem 1.5rem;
    }

    .landing-cont {
        visibility: visible;
        padding-top: 25vh;
        margin-left: -10vw;
        display: grid;
        position: relative;
        grid-template-columns: repeat(12, 1fr);
        z-index: 1;
    }


    .landing-image {
        margin-top: -15vh;
        margin-left: 5vw;
        scale: 50%;
        object-fit: contain;
        overflow: hidden;
        max-width: 100vw;
        grid-row: 1;
        grid-column: 1 / span 8;
        z-index: 1;
        opacity: 0;
        will-change: transform, opacity;
        animation: fly-in 5s ease-out 3s, fly-lr 15s linear 8s infinite;

    }

    .concat-cloud-r {
        --d: 15s;
        display: grid;
        width: 1000px;
        top: 25%;
        left: 40%;
        position: relative;
    }

    .cloud-bg-r {
        will-change: transform;
        animation: slide-r var(--d) linear infinite;
        grid-area: 1/1;
        width: 100vw;
        z-index: 1;
        opacity: 0%;
    }

    .concat-cloud-l {
        --d: 13s;
        display: grid;
        width: 1000px;
        top: 25%;
        left: 25%;
        position: relative;
    }

    .cloud-bg-l {
        will-change: transform;
        grid-area: 1/1;
        width: 100vw;
        z-index: 1;
        opacity: 0%;
    }

    .land-bg {
        background-attachment: fixed;
    }
}