nav {
    font-size: 1rem;
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    min-width: 21rem;
    max-width: 500px;
    height: 2rem;
    z-index: 3;
    margin: 0;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    /* border: 2px solid black; */
    border: none;
    border-radius: 1rem 1rem 1rem 1rem;
    /* background: rgba(255, 226, 183, 0.9); */
    background: rgba(250, 250, 250, 0.5);
    box-shadow: none;
}

nav.dm {
    color: rgb(200, 200, 200);
    background: rgba(100, 100, 100, 0.5);
    /* box-shadow: 0px 0px 10px rgb(221, 223, 114); */

}

nav>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
    z-index: 5 !important;
}

nav>ul>li {
    display: flex;
    justify-content: center;
    padding: 0rem 1rem 0rem 1rem;
    min-width: 25%;
    text-decoration: none;
    z-index: 5 !important;
    cursor: pointer;
}

nav>ul>li>a:hover {
    background-color: rgb();
    text-decoration: none;
}

.pill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 27%;
    height: 2rem;
    background: rgba(223, 223, 177, 0.8);
    /* border: 2px solid rgb(0,0,0); */
    border-radius: 1rem 1rem 1rem 1rem;
    transition: left 0.3s ease;
    z-index: 1;
}

.pill.dm {
    background: rgba(63, 32, 58, 0.8);
}

.exp-btn-contact {
    font-family: "DM Mono", monospace !important;
    font-weight: 500;
    font-style: normal;
    background: rgba(218, 161, 39, 0.8);
    font-size: 1rem;
    border-radius: 1rem;
    border: 0px solid rgba(0, 0, 0, 1);
    padding: 0.2rem 1rem 0.2rem 1rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    min-width: 5rem;
    color: whitesmoke;
    position: fixed;
    left: 50%;
    bottom: 3rem;
    transform: translateX(-50%);
    z-index: 2;
}

.exp-btn-contact.dm {
    background: rgba(138, 55, 124, 0.8);
    color: rgb(220, 220, 220);
}

.abt-btn-work {
    font-family: "DM Mono", monospace !important;
    font-weight: 500;
    font-style: normal;
    background: rgba(218, 161, 39, 0.8);
    font-size: 1rem;
    border-radius: 1rem;
    border: 0px solid rgba(0, 0, 0, 1);
    padding: 0.2rem 1rem 0.2rem 1rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    min-width: 5rem;
    color: whitesmoke;
    position: fixed;
    left: 50%;
    bottom: 3rem;
    transform: translateX(-50%);
    z-index: 10;
}

.abt-btn-work.dm {
    background: rgba(138, 55, 124, 0.8);
    color: rgb(220, 220, 220);
}