.dm-btn-cont {
    text-align: center;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 2;
    opacity: 10%;
    transition: 0.3s ease;
}

.dm-btn {
    border: 2px solid rgb(0,0,0);
    border-radius: 0.5rem;
    background: rgba(0,0,0,0);
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    aspect-ratio: 1;
    font-size: 0.75rem;
    padding: 0rem 0.35rem;
    width: 4rem;
    transition: 0.2s ease;
}

.dm-btn:focus{
    outline: none;
}

.dm-btn-cont:hover {
    opacity: 100%;
}

.dm-btn > .light {
    font-weight: 600;
    color: rgb(255, 136, 0);
}

.dm-btn > .dark {
    color: rgb(220, 220, 220);
    border: 2px solid rgb(220,220,220);
    border-radius: 0.2rem;
    width: 3rem;
}

/* .dm-btn:hover > .dark {
    font-weight: 600;
    color: rgb(55, 232, 255);
    border: 2px solid rgb(55, 232, 255);
}

.dm-btn:hover > .light {
    font-weight: 400;
    color: rgba(255, 255, 255, 0);
} */

/* .dm-btn > img {
    width: 3rem;
    opacity: 50%;
} */

.btn-descrip {
    font-size: 1rem;
}

.inop-tag {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    background: rgb(255, 255, 48);
    border: none;
}